#top{
background-color:#931231 !important;
}
#footer{
	background-color:#931231
}
body {
	background-color:#000;
}

html, body {
    margin: 0;
    height: 100%;
}

.bodyview{
	margin-top:56px !important;
	padding-top:2px;
}
.bodyview, footer, .container .row
{
	margin-top:5px;
	margin-bottom:5px;
	background-color: rgba(255, 255, 255, 0.3);
}
.navbar-brand, .nav-link {
color:white !important;
cursor:pointer;
}
.navbar-brand:link, .nav-link:link{
  color: white !important;
  cursor:pointer;
}

/* visited link */
.navbar-brand:visited, .nav-link:visited{
  color: white !important;
  cursor:pointer;
}

/* mouse over link */
.navbar-brand:hover, .nav-link:hover{
  color: white !important;
  text-decoration: underline;
  cursor:pointer;
}

/* selected link */
.navbar-brand:active, .nav-link:active{
  color: white !important;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor:pointer;
}

.nav-link:focus{
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
	cursor:pointer;
}

h1, h2, h3, h1:visited, h2:visited, h3:visited {
	color:#931231;
	text-shadow: 0px 0px 1px #FFF;
}
h1:hover, h2:hover, h3:hover {
	color:#931231;
	text-shadow: 0px 0px 1px #FFF;
	text-decoration: underline;
	cursor:default;
}
h1:active, h2:active, h3:active{
	color:#931231;
	text-shadow: 0px 0px 1px #FFF;
	text-decoration: underline;
	cursor:default;
}
.frame{
	margin:1px -1px;
	color:black;
	border-style:solid;
	border-width:1px;
	font-family: 'Oswald', sans-serif;
	background-color:white;
}
.frame h2 {
	text-decoration: underline;
}
.frame p {
	white-space: pre-wrap;
}
.frame img {
	max-width:100%; 
}