#top{
background-color:#931231 !important;
}
#footer{
	background-color:#931231
}
body {
	background-color:#931231;
}

html, body {
    margin: 0;
    height: 100%;
}


.bodyview, footer
{
	margin-top:5px;
	margin-bottom:5px;
	background-color: rgba(255, 255, 255, 0.4);
}
.navbar-brand, .nav-link {
color:white !important;
cursor:pointer;
}
.navbar-brand:link, .nav-link:link{
  color: white !important;
  cursor:pointer;
}

/* visited link */
.navbar-brand:visited, .nav-link:visited{
  color: white !important;
  cursor:pointer;
}

/* mouse over link */
.navbar-brand:hover, .nav-link:hover{
  color: white !important;
  text-decoration: underline;
  cursor:pointer;
}

/* selected link */
.navbar-brand:active, .nav-link:active{
  color: white !important;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor:pointer;
}

.nav-link:focus{
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
	cursor:pointer;
}

h1, h2, h3, h1:visited, h2:visited, h3:visited {
	color:#931231;
}
h1:hover, h2:hover, h3:hover {
	color:#931231;
	text-decoration: underline;
}
h1:active, h2:active, h3:active{
	color:#931231;
	text-decoration: underline;
}
